<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <form name = "form" enctype = "multipart/form-data"
         action = "{% url "myapp.views.LoadImage" %}" method = "POST" >{% csrf_token %}

         <div style = "max-width:470px;">
               <input type = "text" style = "margin-left:20%;"
                   placeholder = "Name" name = "name" />
         </div>

         <br>

         <div style = "max-width:470px;">
           <input type = "file" style = "margin-left:20%;"
               placeholder = "Image" name = "image" />
         </div>

         <br>

         <div style = "max-width:470px;">
           <input type = "text" style = "margin-left:20%;"
                placeholder = "Description" name = "description" />
         </div>

         <br>

         <div style = "max-width:470px;">
            <button style = "border:0px;background-color:#4285F4; margin-top:8%;
              height:35px; width:80%; margin-left:19%;" type = "submit" value = "Login" >
              <strong>Login</strong>
            </button>
         </div>
      </form>
</body>
</html>